.card {
    width: auto 
    /* height: 270px; */
}
/* 
@media screen and (min-width: 1280px)  {
    .card {
        width: auto;
    }
} */

@media screen and (min-width: 480px) and (max-width: 767px) {
    .card {
        width: auto
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .card {
        width: 100%;
    }
}

