.card {
    width: auto; 
    max-width: 228px;
    /* height: 270px; */
}

.card__content {
    min-height: 40px;
}

.card__popup {
    width: 700px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #FCE6C6; */
    background-color: #FCE6C6;
    border-radius: 20px;
    box-sizing: border-box;
}

.card__title {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: #663334;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

.card__actions {
    position: relative;
    height: 20px;
    padding-left: 16px;
    margin-bottom: 10px;
}

.card__button_add {
    position: absolute;
    bottom: 5px;
    border-color: #F6B221;
    color: #F6B221;
}

.card__button_add:hover {
    background-color: transparent;
    border-color: #f5d287;
    color: #f5d287;
}

/* .card__button_add:focus {
    background-color: red;

}

.card__button_add:active {
    background-color: red;

} */
/* 
@media screen and (min-width: 1280px)  {
    .card {
        width: auto;
    }
} */

@media screen and (min-width: 650px) and (max-width: 1024px) {
    .card__popup {
        width: 600px;
    }
}

@media screen and (min-width: 320px) and (max-width: 649px) {
    .card__popup {
        width: 300px;
    }
}


@media screen and (min-width: 480px) and (max-width: 767px) {
    .card {
        width: auto
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .card {
        width: 100%;
    }
}

