.item-info {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    padding: 20px 30px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    column-gap: 30px;
}

.item-info__main {
    text-align: center;
}

.item-info__title {
    /* font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 33px;
    font-weight: 700; */
    color: #663334;
    margin: 0 0 15px 0;
}

.item-info__image {
    width: 340px;
    height: 340px;
    box-shadow:  0 0 1px 1px #663334;
    border-radius: 20px;
    
}

.item-info__about {
    max-width: 270px;
    position: relative;
    margin-top: 77px; 
    flex-grow: 1;

}

.item-info__paragraph {
    margin: 0;
    word-wrap: break-word;
}

.item-info__button_add {
    width: 100px;
    height: 30px;
    background-color: #F6B221;
    position: absolute;
    bottom: 0;
    left: 80px;
}

.item-info__button_add:hover {
    background-color: #F6B221;
}

.item-info__button_close {
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
}

.item-info__buttons {
    position: absolute;
    bottom: 0;
    left: 80px;
}

.item-info__quantity {
    margin: 0 10px;
}