.item-small {
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.item-small__row {
    width: 100%;
    display: flex;
}

.item-small__row_1 {
    border-bottom: 1px solid #663334;
}

.item-small__image {
    width: 100px;
    height: 100px;
    margin: 0 20px 0 0;
}

.item-small__title-container {
    box-sizing: border-box;
    max-width: 220px;
    padding: 20px 0 0 0;
}

.item-small__title {
    width: 100%;
    height: min-content;
    word-wrap: break-word;
    font-size: 23px;
    font-weight: 500;
    line-height: 1;
    color: #663334;
    margin:0;
}

.item-small__buttons {
}

.item-small__button_add {
    padding: 0;
}

.item-small__button_remove {
    padding: 0;
}

.item-small__button_delete {
    color: #663334;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}

.item-small__quantity {
    margin: 0 10px;
    color: #663334;
    font-size: 17px;
}