.header__buttons {
    display: flex;
    align-items: center;
}

.header__buttons_visible {
    display: block;
}

.header__buttons_hidden {
    display: none;
}

.header__button_menu {
    visibility: hidden;
}

.header__button_cart {
    background-color: #663334;
}

.header__icon_cart {
    color: #663334;
}

.header__button_profile {
    padding: 10px 15px;
    background-color: #663334;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1150px)  {
    .header__button_profile {
        padding: 8px 12px;
        font-size: 18px;
    }

    .header__button_cart {
        width: 36px;
        height: 36px;
        padding: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {    
    .header__button_menu {
        visibility: visible;
    }

    .header__buttons {
        flex-direction: column;
    }

    .header__button_cart {
        order: 2;
    }
<<<<<<< HEAD
=======

    .header__button_profile {
        padding: 4px 8px;
        font-size: 13px;
    }

>>>>>>> 77472c476eb7e2063fe2623d86ffc64f83130474
}
