.header__buttons {
    display: flex;
    align-items: center;
}

.header__button_menu {
    visibility: hidden;
}

.header__button_cart {
    background-color: #ffffff; 
    margin-right: 20px;
    box-sizing: border-box;
    transition: background-color .3s ease;
}

.header__button_cart:hover {
    background-color: #f5f5f5;
}

.header__icon_cart {
    color: #663334;
}

.header__button_profile {
    padding: 10px 15px;
    background-color: #663334;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1150px)  {
    .header__button_profile {
        padding: 8px 12px;
        font-size: 18px;
    }

    .header__button_cart {
        width: 36px;
        height: 36px;
        padding: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {    
    .header__button_cart {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 0;
    }

    .header__button_profile {
        display: none;
    }
}
