.main {
    padding: 0 50px;
    
}

.main__title {
    margin: 0;
    color: #663334;
    font-family: "RobotoSlab","Helvetica","Arial",sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 35px;
}