.auth-form {
    background-color: #FCE6C6;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0 0 0;
    overflow: hidden;
}

.auth-form__buttons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #663334;
}

.auth-form__button-list-item {
    padding-bottom: 10px;
}

.auth-form__button_sign {
    width: 135px;
    height: 40px;
    font-size: 17px;
    color: #663334;
    padding-bottom: 10px;
}

.auth-form__button_active {
    color: #F6B221;
}

.auth-form__button_submit {
    background-color: #F6B221;
    margin-top: 5px;
}

.auth-form__button_submit:hover {
    background-color: rgba(246, 178, 33, .8);;
}

.auth-form__title {
    font-family: 'Roboto', arial, sans-serif;
    color: #663334;
}

.auth-form__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* row-gap: 25px; */
}

.auth-form__form-item {
    height: 85px;
}

.auth-form__input {
    width: 263px;
}