.data-table {
    /* border: 1px solid #663334; */
}

.data-table__buttons {
    display: flex;
    column-gap: 10px;
}

.data-table__button {
    width: 30px;
    height: 30px;
}

.data-table__icon {
    color: #663334;
}