.header {
    background-color: #F6B221;
    padding: 9px 0;
    margin: 0 0 30px 0;
    box-sizing: border-box;
}

.header__container{
    width: 80%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 103px;
    height: 74px;
}

.header__navigation {
    min-width: 300px;
    box-sizing: border-box;
    display: flex;
}

.header__navigation-list {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header__dropdown-menu {
    z-index: 20;
}

.header__menu-item {
    padding: 8px 15px;
}

.header__link {
    color: #ffffff;
    font-size: 23px;
    padding: 0;
    text-decoration: none;
}

.header__link_active {
    text-decoration: underline;
}

.header__menu-link {   
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #663334;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 15px;
    text-decoration: none;
}

.header__menu-link:hover {
    background-color: #c4c4c4;
} 

.header__phone-container {
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: default;
}

.header__phone-number {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__button_cart {
    background-color: #663334;
}

.header__icon_cart {
    color: #663334;
}

.header__button_login {
    background-color: #663334;
    width: 120px;
    height: min-content;
    border-radius: 10px;
}

.header__icon_login {
    color: #ffffff;
}

.header__span {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 5px 0 0;
    color: #ffffff;
}