.footer {
    width: 100%;
    background-color: #663334;
    color: #FCE6C6;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.footer__content {
    width: 80%;
    display: flex;
    max-width: 1150px;
}

.footer__container {
    margin: 0 70px 0 0;
}

.footer__container:last-of-type {
    margin-right: 0;
}

.footer__title {
    margin: 0;
    font-size: 23px;
    font-weight: 500;
    line-height: normal;
}

.footer__sn-list{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    list-style: none;
    padding: 0;
}

.footer__sn-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__link {
    text-decoration: none;
    color: #FCE6C6;
}

.footer__link:hover > .footer__sn-text {
    opacity: .6;
}

.footer__sn-logo {
    width: 20px;
    height: 20px;
}

.footer__sn-text {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    transition: opacity .3s ease;
}

.footer__container_phone {
    margin-left: auto;    
}

.footer__link_phone {
    display: flex;
    align-items: center;
}

.footer__icon_phone {
    margin-right: 5px;
}